<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /the500k/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?$1 [L]


</IfModule>

<IfModule mod_security.c>
SecFilterScanPOST Off
</IfModule>